<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/admin/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/admin/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/admin/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/admin/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/admin/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/admin/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="/admin/js/semantic.min.css" />
    <!-- fancy box js -->
    <link rel="stylesheet" href="/admin/css/jquery.fancybox.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>

<body class="inner_page tables_page">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">                  
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive"
                                    src="/admin/images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                <h6>John David</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="/admin/dashboard" class=""><i class="fa fa-dashboard yellow_color"></i>
                                <span>Dashboard</span></a>                           
                        </li>
                        <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
                        <li>
                            <a href="/admin/category"><i class="fa fa-database"></i>
                                <span>Category</span></a>                            
                        </li>
                        <li><a href="/admin/products"><i class="fa fa-heart-o"></i> <span>Products</span></a></li>
                        <li>
                            <a href="/admin/orders"><i class="fa fa-briefcase blue1_color"></i> <span>Orders</span></a>
                        </li> 
                        <li>
                            <a href="/admin/offers"><i class="fa fa-object-group blue2_color"></i> <span>Offers</span></a>
                        </li>
                        <li>
                            <a href="/admin/coupon"><i class="fa fa-spinner"></i> <span>Coupons</span></a>
                        </li>                 
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <!-- <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a> -->
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                    class="img-responsive rounded-circle"
                                                    src="images/layout_img/user_img.jpg" alt="#" /><span
                                                    class="name_user">John David</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="logout"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">

                        <!-- row -->
                        <div class="row">
                            <!-- table section -->

                            <div class="col-md-12">
                                <div class="page_title">
                                    <h2>CREATE CATEGORIES</h2>
                                </div>
                                <!-- Your existing table content goes here -->
                                <div class="card" style="width: 60%;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <form action="" method="post" onsubmit="return validateForm()">
                                                    <div class="mb-3">
                                                        <label for="category_name" class="form-label">Category
                                                            Name</label>
                                                        <input type="text" class="form-control" id="category_name"
                                                            name="cName" value="<%= locals.categoryName %>" />
                                                        <div id="categoryNameError" style="color: red;"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="category_description" class="form-label">Category
                                                            Description</label>
                                                        <textarea class="form-control" id="category_description"
                                                            name="cDescription"
                                                            rows="3" ><%= locals.categoryDescription %></textarea>
                                                        <div id="categoryDescriptionError" style="color: red;"></div>
                                                    </div>

                                                    <div class="d-grid">
                                                        <button type="submit"
                                                            class="btn cur-p btn-outline-primary">CREATE
                                                            CATEGORY</button>
                                                    </div>

                                                    <% if (typeof message !=='undefined' ) { %>
                                                        <p style="color: red;"><%- message %></p>
                                                        <% } %>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- .row // -->
                                    </div>
                                    <!-- card body .// -->
                                </div>
                                <a href="/admin/category">
                                    <button type="button" class="btn cur-p btn-outline-dark"
                                        style="margin-top: 2%;">BACK</button>
                                </a>
                                <!-- card .// -->
                            </div>
                        </div>

                        <!-- footer -->
                        <div class="container-fluid">
                            <!-- <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
                     </div> -->
                        </div>
                    </div>
                    <!-- end dashboard inner -->
                </div>
            </div>
            <!-- model popup -->
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            Modal body..
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end model popup -->
        </div>
        <!-- jQuery -->
        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/popper.min.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <!-- wow animation -->
        <script src="/admin/js/animate.js"></script>
        <!-- select country -->
        <script src="/admin/js/bootstrap-select.js"></script>
        <!-- owl carousel -->
        <script src="/admin/js/owl.carousel.js"></script>
        <!-- chart js -->
        <script src="/admin/js/Chart.min.js"></script>
        <script src="/admin/js/Chart.bundle.min.js"></script>
        <script src="/admin/js/utils.js"></script>
        <script src="/admin/js/analyser.js"></script>
        <!-- nice scrollbar -->
        <script src="/admin/js/perfect-scrollbar.min.js"></script>
        <script>
            var ps = new PerfectScrollbar('#sidebar');
        </script>
        <!-- fancy box js -->
        <script src="/admin/js/jquery-3.3.1.min.js"></script>
        <script src="/admin/js/jquery.fancybox.min.js"></script>
        <!-- custom js -->
        <script src="/admin/js/custom.js"></script>
        <!-- calendar file css -->
        <script src="/admin/js/semantic.min.js"></script>
        <script>
            const categoryNameInput = document.getElementById("category_name");
            const categoryDescriptionInput = document.getElementById("category_description");
            const categoryNameError = document.getElementById("categoryNameError");
            const categoryDescriptionError = document.getElementById("categoryDescriptionError");

            // Event listener for category name input
            categoryNameInput.addEventListener("input", function () {
                const categoryNameValue = categoryNameInput.value.trim();

                if (categoryNameValue === "") {
                    categoryNameError.textContent = "Category Name is required";
                    categoryNameInput.classList.add("is-invalid");
                } else if (/^\d+$/.test(categoryNameValue)) {
                    categoryNameError.textContent = "Category Name should not contain numbers.";
                    categoryNameInput.classList.add("is-invalid");
                } else {
                    categoryNameError.textContent = "";
                    categoryNameInput.classList.remove("is-invalid");
                }
            });

            // Event listener for category description input
            categoryDescriptionInput.addEventListener("input", function () {
                const categoryDescriptionValue = categoryDescriptionInput.value.trim();

                if (categoryDescriptionValue === "") {
                    categoryDescriptionError.textContent = "Category Description is required";
                    categoryDescriptionInput.classList.add("is-invalid");
                } else {
                    categoryDescriptionError.textContent = "";
                    categoryDescriptionInput.classList.remove("is-invalid");
                }
            });

            function validateForm() {
                const categoryNameValue = categoryNameInput.value.trim();
                const categoryDescriptionValue = categoryDescriptionInput.value.trim();

                categoryNameError.textContent = "";
                categoryDescriptionError.textContent = "";

                let isValid = true;

                if (categoryNameValue === "") {
                    categoryNameError.textContent = "Please fill in the Category Name.";
                    isValid = false;
                } else if (/^\d+$/.test(categoryNameValue)) {
                    categoryNameError.textContent = "Category Name should not contain numbers.";
                    isValid = false;
                }

                if (categoryDescriptionValue === "") {
                    categoryDescriptionError.textContent = "Please fill in the Category Description.";
                    isValid = false;
                }

                return isValid;
            }

        </script>


</body>

</html>